---
---
<header class="cabecalho section">
    <img src="/portfolio-js/assets/img/logo.webp" alt="Logo" class="cabecalho__logo" />
    <nav class="cabecalho__nav" aria-label="Navegação Principal">
      <a href="/portfolio-js/#sobreMim" class="cabecalho__link">Sobre Mim</a>
      <a href="/portfolio-js/#habilidades" class="cabecalho__link">Habilidades</a>
      <a href="/portfolio-js/#projetos" class="cabecalho__link">Projetos</a>
      <a href="/portfolio-js/#contato" class="cabecalho__link">Contato</a>
      <a href="/portfolio-js/blog" class="cabecalho__link">Blog</a>
    </nav>
    <div class="cabecalho__botao-container">
      <a href="/portfolio-js/assets/curriculo.pdf" download="Curriculo_Isaac-Reis" class="cabecalho__botao">Currículo</a>
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M17.5 12.5V13.5C17.5 14.9001 17.5 15.6002 17.2275 16.135C16.9878 16.6054 16.6054 16.9878 16.135 17.2275C15.6002 17.5 14.9001 17.5 13.5 17.5H6.5C5.09987 17.5 4.3998 17.5 3.86502 17.2275C3.39462 16.9878 3.01217 16.6054 2.77248 16.135C2.5 15.6002 2.5 14.9001 2.5 13.5V12.5M14.1667 8.33333L10 12.5M10 12.5L5.83333 8.33333M10 12.5V2.5"
          stroke="#f8f9fa" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </div>
    <div class="cabecalho__menu-mobile">
      <button class="cabecalho__menu-toggle" aria-label="Abrir menu" aria-controls="menu-mobile-nav"
        aria-expanded="false">
        <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true" focusable="false">
          <path d="M0.5 10V8.33333H15.5V10H0.5ZM0.5 5.83333V4.16667H15.5V5.83333H0.5ZM0.5 1.66667V0H15.5V1.66667H0.5Z"
            fill="#212529" />
        </svg>
      </button>
      <div id="menu-mobile-nav" class="cabecalho__menu-mobile--nav" role="dialog" aria-modal="true"
        aria-labelledby="menu-mobile-titulo" aria-hidden="true">
        <button class="cabecalho__menu-mobile--fechar">Fechar</button>
        <nav class="cabecalho__navMobile" aria-label="Navegação Principal Mobile">
          <a href="/portfolio-js/#sobreMim" class="cabecalho__navMobilelink">Sobre Mim</a>
          <a href="/portfolio-js/#habilidades" class="cabecalho__navMobilelink">Habilidades</a>
          <a href="/portfolio-js/#projetos" class="cabecalho__navMobilelink">Projetos</a>
          <a href="/portfolio-js/#contato" class="cabecalho__navMobilelink">Contato</a>
          <a href="/portfolio-js/blog" class="cabecalho__navMobilelink">Blog</a>
          <h2 id="menu-mobile-titulo" class="sr-only">Navegação Principal</h2>
        </nav>
        <img src="/portfolio-js/assets/img/logo.webp" alt="Logo" class="cabecalho__logo" style="filter: invert()" />
      </div>
    </div>
  </header>
